.custom-input-end-radius {
  border-start-end-radius: 0.75rem;
  border-end-end-radius: 0.75rem;
}
input[type="checkbox"]:checked {
  color: var(--color-pure-black); /* Change the background color when checked */
}
.resizable-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 23%;
  height: 78.2vh;
  background: url("images/sidebarbg.png");
  overflow: hidden;
}
.resizable-sidebar .resizer {
  width: 5px;
  height: 100%;
  background-color: #d1d5db;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  left: -2.5px;
}
.grid-container {
  transition: margin-right 0.3s;
}
tbody td {
  border: none;
}

.hover-dark-yellow:hover,
.hover-dark-yellow:focus,
.hover-dark-yellow:active {
  background-color: var(--color-dark-yellow);
}

.context-menu {
  position: absolute;
  z-index: 1000;
  width: 200px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu ul li {
  position: relative;
}

.context-menu ul li a {
  text-decoration: none;
  color: var(--color-light-gray);
  display: block;
  padding: 8px 10px;
}
.context-menu ul li:hover {
  background: var(--color-dark-yellow);
}

.context-menu ul li:hover > .submenu {
  display: block;
}

.context-menu ul li a {
  color: var(--color-light-gray);
  font-size: var(--font-weight-400);
  font-size: var(--font-size-14);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.submenu {
  position: absolute;
  width: 200px;
  left: 100%;
  background-color: var(--color-white);
}

.menu-sidename {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-400);
  color: var(--color-medium-gray);
}

.newfile-submenu {
  top: 30%;
}

.sortby-submenu {
  top: 40%;
}

.iconsize-submenu {
  top: 50%;
}

.more-submenu {
  top: 60%;
}

.open-submenu {
  top: 10%;
  width: 250px;
}
